/* ------- małe ------- */
@media only screen and (max-width: 1000px){
.ramka{
margin-left:5px;
margin-right:5px;
}
.przesiadki_ile{
width:70%;
}
.przesiadki_rozw{
width:30%;
}
.sepm{
height:20px;
background-color:#53a3e9;
}
.przesm, #img_sam, #pol_naglowek{
display:none;
}
.wiersz_przes{
display:block;
}
.przesiadki_div{
max-width:200px;
margin-left:auto;
margin-right:auto;
}
#zamien{
background:url("strzalki2.png");
width:48px;
}
#tytul{
margin-bottom:15px;
padding:20px;
}
#przew_div, #ilosc_os, #bezp_div{
line-height:50px;
}
#wybierz{
margin-top:15px;
}
#polaczenia, #wysz_pasek{
margin-right:5px;
}
#sortowanie{
font-size:1em;
}
}


/* ------- duże ------- */
@media only screen and (min-width: 1000px){
.ramka{
height:74px;
width:976px;
margin-left:auto;
margin-right:auto;
}
.parametr{
float:left;
height:50px;
}
.miejsce{
width:160px;
}
.tytul_szer{
width:200px;
}
.th, .td{
display:table-cell;
}
.tr{
display:table-row;
}
.opism, .sepm{
display:none;
}
.td_rozwin{
width:40px;
}
.przesiadki_ile{
width:40%;
}
.przesiadki_rozw{
width:60%;
}
.wiersz_przes{
display:table-row;
}
#tytul{
margin-bottom:30px;
width:400px;
line-height:50px;
padding:4px;
}
#zamien{
background:url("strzalki.png");
width:29px;
}
#zamien_div{
width:29px;
}
#data_div{
width:130px;
}
#bezp_div{
line-height:25px;
width:110px;
}
#szukaj{
width:50px;
}
#przew_div{
width:100px;
line-height:25px;
}
#wybierz{
margin-top:5px;
}
#polaczenia{
display:table;
width:99%;
}
#pol_naglowek{
display:table-row;
}
#wysz_pasek{
margin-right:5px;
}
#sortowanie{
display:none;
}
#ilosc_os{
width:45px;
line-height:25px;
}
}


/* ------- reszta stylów ------- */
*{
font-size:16px;
}
body{
margin:0;
font-family:Arial;
background-color:#cde4f9;
}
a:link,a:visited{
text-decoration:none;
}
a:hover, #szukaj:hover, #sortowanie span:hover, #przew_div:hover, #ilosc_os:hover{
text-decoration:underline;
}
.parametr{
background-color:#135894;
padding:10px;
margin:2px;
text-align:center;
}
.etykieta{
color:white;
}
.ramka{
padding:2px;
background-color:#53a3e9;
margin-bottom:15px;
}
.poletekst{
width:98%;
margin-top:5px;
}
.rozwin{
cursor:pointer;
}
.lotnisko{
font-size:1.2em;
line-height:170%;
}
.data{
font-size:0.9em;
}
.th, .td{
background-color:#135894;
color:white;
padding:7px;
border:2px solid #53a3e9;
text-align:center;
vertical-align:middle;
}
.rozwiniety .td{
background-color:#2f90e4;
}
.przesiadki_ile{
vertical-align:middle;
line-height:32px;
float:left;
}
.przesiadki_rozw{
float:left;
}
.wysz_el{
position:relative;
}
.tytul{
margin:5px;
padding:10px;
border:4px solid #53a3e9;
background-color:#135894;
color:white;
font-size:1.2em;
margin-bottom:15px;
}
.wiersz_przes_u{
display:none;
}
.jasny{
color:#b7d8f6;
}
.jasniejszy{
color:white;
}
.przesiadki_div{
overflow:auto;
}
.tlo{
background-color:#111;
opacity:0.9;
position:fixed;
width:100%;
height:100%;
top:0;
}
.okno_tresc{
position:absolute;
left:50%;
border:4px solid #53a3e9;
background-color:#135894;
color:white;
padding:5px;
}
.os_kol{
width:25px;
text-align:center;
}
.os_wiek{
font-size:0.9em;
color:#b7d8f6;
}
.min100{
min-width:100px;
}
.podp{
position:absolute;
color:black;
background-color:white;
border:1px solid black;
text-align:left;
}
.podp_el{
cursor:pointer;
padding:2px;
}
.podp_el:hover{
background-color:#53a3e9;
}
.os_kol img{
cursor:pointer;
}
.rozwiniety td{
background-color:#2f90e4;
}
.th img{
cursor:pointer;
}
#zamien{
cursor:pointer;
height:48px;
margin:auto;
}
#tytul{
margin-left:5px;
margin-top:5px;
margin-right:5px;
border:4px solid #53a3e9;
background-color:#135894;
color:white;
text-align:center;
}
#tytul span{
font-size:1.2em;
color:white;
}
#img_sam{
vertical-align:middle;
margin-right:10px;
}
#szukaj{
color:white;
background-color:#1a76c7;
cursor:pointer;
line-height:50px;
}
#nazwa:hover{
text-decoration:underline;
cursor:pointer;
}
#przew_div{
color:white;
cursor:pointer;
}
#okno{
position:absolute;
top:0;
width:100%;
height:100%;
z-index:10;
}
#okno_przew{
width:200px;
margin-left:-109px;
}
#okno_blad{
width:250px;
margin-left:-134px;
}
#przew_tytul{
margin-bottom:5px;
}
#polaczenia{
background-color:#53a3e9;
padding:2px;
margin-left:5px;
margin-bottom:5px;
}
#pol_naglowek{
color:#8ec3f0;
}
#wysz_brzoza{
float:right;
top:-40px;
}
#wysz_sam{
left:-70px;
}
#wysz_div{
overflow:hidden;
}
#ilosc_os{
color:white;
vertical-align:middle;
cursor:pointer;
}
#okno_iloscos{
width:250px;
margin-left:-134px;
}
#zamknij_blad{
margin-top:5px;
}
#os_tab{
width:250px;
}
#zasoby{
font-size:1em;
}
#sortowanie span{
cursor:pointer;
}
#stickarena{
margin:5px;
width:99%;
height:600px;
}